/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

/* desktop */
@media (min-width: 1024px) {
  /* .top-navigation .trigram {
    display: none; */
  
  /* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */
  a:hover {
    background-color: rgb(212, 210, 210);
  }
  
  .facebook:hover,
  .instagram:hover,
  .twitter:hover,
  .linked-in:hover,
  .fa:hover { 
  color: rgb(204, 201, 201);
  }

  .teammate-social-icons:hover {
    color: rgb(202, 202, 202)
  } 

}

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */
@media (max-width: 1023px) {
  .top-navigation .trigram {
    display: block;
  }

  .teammates-content .subtext {
    width: 100%;
  }

  .top-navigation li {
    display:none;
  }

  .portfolio-list{
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
    align-items: center;
    
  }

  .portfolio-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

  .portfolio-item-info{
    display: flex;
    flex-direction: column;
    }

  .portfolio-img-wrapper {
    width: 50%;
    height: auto;
    display: flex;
    align-items: flex-start;
  }

  .teammates-list-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .teammates-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .teammate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 45%;
  }

  .teammate-img-wrapper {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
  }

  .teammate-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-content .fa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 0;
  }

  .footer-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: auto;
    gap: 20px 10px;
    padding: 40px 20px 60px;
    margin: 0 auto;
  }

  .footer-contacts .address{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

  }

  .footer-contacts .email {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;
  }

  .footer-contacts ul li a{
    color: white !important;
  }

  .footer-contacts p {
  padding: 0 20px;
  margin: 0 30px;
  /* border: 1px solid white; */
}

  .footer-contacts .phones {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    color: white;
  }

.footer-content span{
    display: none
  }

  
    /* Add any common styles for tablet and mobile views here */
  .subtext {
    padding: 20px;
  }

.teammates-list:before,
.teammates-list:after {
  display: none;
}
.top-navigation li {
    display:none;
  }
  .facebook:hover,
  .instagram:hover,
  .twitter:hover,
  .linked-in:hover,
  .fa:hover { 
  color: rgb(204, 201, 201);
  }

  .teammate-social-icons:hover {
    color: rgb(202, 202, 202)
  } 

  
}

/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */
@media (max-width: 767px) {
  /* * {
    width: 100%;
  } */
  /* Add the styles that belong to the MOBILE view only beneath */
  .top-navigation .trigram {
    display: block;
  }
  .top-navigation li {
    display:none;
  }

  .content-vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
  }

  .mobile-only .teammate {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
  }
    
  .portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .portfolio-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .portfolio-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .item-description {
    text-align: center;
    padding: 10px;
  }

  .teammates-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .content p.subtext {
    text-align: center;
    text-wrap: balance;
  }
  .teammate {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* margin-bottom: 20px; */
    border: 2px solid black;
  }

  .teammate-img-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
  }

  .teammate-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 5px;
    margin: 5px;
  }

  .teammate-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

.footer-content .social-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 60px;
    height: 100%;
    margin: 0 auto;
  }

  .footer-content {
    gap: 10px;
  }
  .facebook:hover,
  .instagram:hover,
  .twitter:hover,
  .linked-in:hover,
  .fa:hover { 
  color: rgb(204, 201, 201);
  }

  .teammate-social-icons:hover {
    color: rgb(202, 202, 202)
  } 

  .footer-content span {
    display: block;
  }
  /* Example of a mobile-specific style 
  .mobile-only {
    display: block; 
  } */
}
